# Aim: - Initial exploration of the Covid-19 dataset

In [3]:
# Importing the packages needed
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib

In [5]:
# Data 
counties_2020=pd.read_csv("../covid-19-data/us-counties-2020.csv")
counties_2021=pd.read_csv("../covid-19-data/us-counties-2021.csv")

In [6]:
counties_2020.head(5)

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [8]:
# Lets look at the states and their corresponding deaths
counties_2020_groupby=counties_2020.groupby('state', as_index=False)[['cases','deaths']].sum()
counties_2020_groupby['death_per_cases']=round(counties_2020_groupby['deaths']/counties_2020_groupby['cases'],2)*100
counties_2020_groupby

                       state      cases     deaths  death_per_cases
0                    Alabama   32236000   526388.0             0.02
1                     Alaska    2854127    13147.0             0.00
2                    Arizona   47147078  1048821.0             0.02
3                   Arkansas   18406368   285868.0             0.02
4                 California  174969176  3065113.0             0.02
5                   Colorado   23442034   542870.0             0.02
6                Connecticut   17214231  1119863.0             0.07
7                   Delaware    5154377   145664.0             0.03
8       District of Columbia    3644621   146395.0             0.04
9                    Florida  138123133  2632238.0             0.02
10                   Georgia   62230196  1363977.0             0.02
11                      Guam     869347    10424.0             0.01
12                    Hawaii    2129453    27227.0             0.01
13                     Idaho   10608658   109143.0             0.01
14                  Illinois   82118324  2211390.0             0.03
15                   Indiana   35947357   920773.0             0.03
16                      Iowa   23267720   335716.0             0.01
17                    Kansas   15948027   187629.0             0.01
18                  Kentucky   18801566   285739.0             0.02
19                 Louisiana   35116739  1184574.0             0.03
20                     Maine    1551410    35654.0             0.02
21                  Maryland   29150984   912049.0             0.03
22             Massachusetts   37419301  2222455.0             0.06
23                  Michigan   42112852  1837617.0             0.04
24                 Minnesota   29868387   531337.0             0.02
25               Mississippi   20500999   572569.0             0.03
26                  Missouri   31469332   530055.0             0.02
27                   Montana    5007382    58866.0             0.01
28                  Nebraska   13158427   132992.0             0.01
29                    Nevada   18286722   319370.0             0.02
30             New Hampshire    2724705   102996.0             0.04
31                New Jersey   57403306  3817150.0             0.07
32                New Mexico    9586672   217023.0             0.02
33                  New York  126307878  8320598.0             0.07
34            North Carolina   46306384   734456.0             0.02
35              North Dakota    6682198    87065.0             0.01
36  Northern Mariana Islands      15491      544.0             0.04
37                      Ohio   44885224  1062373.0             0.02
38                  Oklahoma   20512540   233760.0             0.01
39                    Oregon    8343602   128396.0             0.02
40              Pennsylvania   47304959  2002629.0             0.04
41               Puerto Rico    9730415   134516.0             0.01
42              Rhode Island    7357021   262024.0             0.04
43            South Carolina   29321200   618708.0             0.02
44              South Dakota    7219457    86828.0             0.01
45                 Tennessee   43836216   540030.0             0.01
46                     Texas  160159130  2927740.0             0.02
47                      Utah   20001600   111490.0             0.01
48                   Vermont     561055    16434.0             0.03
49            Virgin Islands     216310     3503.0             0.02
50                  Virginia   32850541   668990.0             0.02
51                Washington   21937303   504771.0             0.02
52             West Virginia    4681431    84127.0             0.02
53                 Wisconsin   37998809   410977.0             0.01
54                   Wyoming    2591448    20734.0             0.01