# Aim: - Initial exploration of the Covid-19 dataset

In [3]:
# Importing the packages needed
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib

In [5]:
# Data 
counties_2020=pd.read_csv("../covid-19-data/us-counties-2020.csv")
counties_2021=pd.read_csv("../covid-19-data/us-counties-2021.csv")

In [6]:
counties_2020.head(5)

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [12]:
# Lets look at the states and their corresponding deaths
counties_2020_groupby=counties_2020.groupby('state', as_index=False)[['cases','deaths']].sum()
counties_2020_groupby['death_per_case']=round(counties_2020_groupby['deaths']/counties_2020_groupby['cases'],2)*100
counties_2020_groupby=counties_2020_groupby.sort_values(by=['cases', 'death_per_case'], ascending=[False, False])
top_10_states_covid_2020=counties_2020_groupby.head(10)
top_10_states_covid_2020

             state      cases     deaths  death_per_case
4       California  174969176  3065113.0             2.0
46           Texas  160159130  2927740.0             2.0
9          Florida  138123133  2632238.0             2.0
33        New York  126307878  8320598.0             7.0
14        Illinois   82118324  2211390.0             3.0
10         Georgia   62230196  1363977.0             2.0
31      New Jersey   57403306  3817150.0             7.0
40    Pennsylvania   47304959  2002629.0             4.0
2          Arizona   47147078  1048821.0             2.0
34  North Carolina   46306384   734456.0             2.0